*.pyc
*.swp
.vscode/*
*.lock
*.log
.idea/
.DS_Store
Thumbs.db
*.tmp
archery/settings.py.github
archery/settings.py.dev
archery/settings_dev.py
sql/migrations/
venv
.venv/
env
.venv/
__pycache__/
dist/
*.egg-info/
sonar-project.properties
.scannerwork
.env
local_settings.py
src/docker-compose-dev
.coverage
coverage.xml
archery_custom
static/
!common/static/
common/static/*
!common/static/dbdiagnostic/
common/static/dbdiagnostic/*
!common/static/dbdiagnostic/js/
common/static/dbdiagnostic/js/*
!common/static/dbdiagnostic/js/*.js
!common/static/sqlquery/
common/static/sqlquery/*
!common/static/sqlquery/*.css
!common/static/sqlquery/*.js
local_settings.py
nohup.out
